{% extends 'baseAdmin.html' %}



{% block title %}
<title>İletişim Bilgileri</title>
{% endblock title %}





{% block content %}


<main class="main-wrapper clearfix">



    <!-- /.container-fluid -->
    <!-- =================================== -->
    <!-- Different data widgets ============ -->
    <!-- =================================== -->
    <div class="container-fluid">
        <div class="widget-list">
            <div class="row">
                <div class="col-md-12 widget-holder">
                    <div class="widget-bg-transparent">
                        <div class="widget-body clearfix">
                            <!-- Products List -->
                            <div class="ecommerce-products list-unstyled row">



                                {% if not iletisim %}
                               
                                <h3 style="color: white;">Hiç iletisim bilgisi bulunamadı.</h3>
                                {% endif %}

                                
                             



    



                                <div class="product col-12 col-sm-6 col-md-4">
                                    <div class="card">
                                       
                                        <!-- /.card-header -->
                                        <div class="card-body">
                                            <div class="d-flex">
                                                <a href="{% url 'IletisimBilgilerUpdateAdmin' iletisim.pk %}"> <h5 class="product-title">{{iletisim.telefon}}</h5></a>
                                               
                                            </div>
                                            <!-- /.d-flex --> <span class="text-muted">{{iletisim.konum|truncatechars:25|safe}}</span><br><a style="float: right;" onclick="return confirm('Bu hakkımızda yazısını silmek istediğinizden emin misiniz?\nBu işlem geri alınamaz.');" href="" class="btn btn-danger btn-xs">Sil</a>
                                        </div>
                                        <!-- /.card-body -->
                                     
                                       
                                    </div>
                                    <!-- /.card -->
                                </div>
                                <!-- /.product -->
                        



                            </div>

                            <br>
                       
                           <center> <a href="{% url 'IletisimBilgilerEkleAdmin' %}" style="color: black;" class="btn btn-success">Yeni Ekle (Eskisi Silinir)</a></center>

                           
                        </div>
                        <!-- /.widget-body -->
                    </div>
                    <!-- /.widget-bg -->
                </div>
                <!-- /.widget-holder -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.widget-list -->
    </div>
    <!-- /.container-fluid -->
</main>
<!-- /.main-wrappper -->


{% endblock content %}