
{% extends 'baseAdmin.html' %}


{% block title %}
    <title>Anasayfa</title>
{% endblock title %}
    



{% block content %}
    

    
        <main class="main-wrapper clearfix">
            <!-- Page Title Area -->
            <div class="container-fluid">
                <div class="row page-title clearfix">
                    <div class="page-title-left">
                        <h6 class="page-title-heading mr-0 mr-r-5">Dashboard</h6>
                        <p class="page-title-description mr-0 d-none d-md-inline-block">statistics, charts and events</p>
                    </div>
                    <!-- /.page-title-left -->
                    <div class="page-title-right d-none d-sm-inline-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item active">Home</li>
                        </ol>
                    </div>
                    <!-- /.page-title-right -->
                </div>
                <!-- /.page-title -->
            </div>  
            <!-- /.container-fluid -->
            <!-- =================================== -->
            <!-- Different data widgets ============ -->
            <!-- =================================== -->
            <br><br><br><br>
            <center><p style="color: white; font-weight: bold; font-size: large;">Anasayfaya hoşgeldiniz.Lütfen yandan yapacağınız işlemi seçiniz</p></center>
        </main>
        <!-- /.main-wrappper -->
     

        {% endblock content %}