{% extends 'baseAdmin.html' %}



{% block content %}
    

    

        <main class="main-wrapper clearfix">
            <!-- Page Title Area -->
            <div class="container-fluid">
                <div class="row page-title clearfix">
                    <div class="page-title-left">
                        <h6 class="page-title-heading mr-0 mr-r-5">Editable Table</h6>
                        <p class="page-title-description mr-0 d-none d-md-inline-block">statistics, charts and events</p>
                    </div>
                    <!-- /.page-title-left -->
                    <div class="page-title-right d-none d-sm-inline-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item active">Editable Table</li>
                        </ol>
                    </div>
                    <!-- /.page-title-right -->
                </div>
                <!-- /.page-title -->
            </div>
            <!-- /.container-fluid -->
            <!-- =================================== -->
            <!-- Different data widgets ============ -->
            <!-- =================================== -->
            <div class="container-fluid">
                <div class="widget-list">
                    <div class="row">
						





                        <!-- /.widget-holder -->
                        <div class="col-md-12 widget-holder">
                            <div class="widget-bg">
                                <div class="widget-heading clearfix">
                                    <h5>Email Tablosu</h5>
                                </div>
                                <!-- /.widget-heading -->
                                <div class="widget-body clearfix">

                                    
                                    {% if emails %}
                                    
                       
                                    <table style="width: 850px;" class="table table-editable table-responsive" data-toggle="datatables">
                                        <center>
                                        
                                        <thead>
                                            <tr >
                                                <th>ID</th>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Subject</th>
                                                <th>Created Date</th>
                                                <th>Is Read</th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody style="color: black;">
                                           
                                           {% for mail in emails %}
                                                <tr data-expanded="true">
                                                    <td>{{mail.pk}}</td>
                                                    <td>{{mail.name}}</td>
                                                    <td>{{mail.email}}</td>
                                                    <td>{{mail.subject}}</td>
                                                    <td>{{mail.olusturulma_tarihi.date}}</td>
                                                    <td>
                                                    {% if mail.okundu_bilgisi == "1" %}
                                                    <p style="color: green;">okundu</p>
                                                        {% else %}
                                                        <p style="color: red;">okunmadı</p>
                                                    {% endif %}
                                                        </td>
                                                    <td><a class="btn btn-success btn-xs" href="{% url 'showMessage' mail.pk %}">Read</a></td>
                                                    <td><a onclick="return confirm('Bu mesajı silmek istediğinizden emin misiniz?\nBu işlem geri alınamaz.');" class="btn btn-danger btn-xs" href="{% url 'deleteEmailAdmin' mail.pk %}">Delete</a></td>
                                                </tr>
                                           {% endfor %}
                                               


                                           
                                        </tbody></center>
                                    </table>

                                    {% else %}
                                    <center><h5>Yazı istek bildirimi bulunmamaktadır</h5></center>
                                    {% endif %}

                                </div>
                                <!-- /.widget-body -->
                            </div>
                            <!-- /.widget-bg -->
                        </div>
						
						
						<br><br>


                            <!-- /.widget-holder -->
                            <div class="col-md-12 widget-holder">
                                <div class="widget-bg">
                                    <div class="widget-heading clearfix">
                                        <h5>Yazı İstekleri Tablosu</h5>
                                    </div>
                                    <!-- /.widget-heading -->
                                    <div class="widget-body clearfix">

                                        
                                        {% if yazilar %}
                                            
                                       

                                        <table style="width: 850px;" class="table table-editable table-responsive" data-toggle="datatables">
                                            <center>
                                            
                                            <thead>
                                                <tr >
                                                    <th>ID</th>
                                                    <th>Yazar</th>
                                                    <th>Başlık</th>
                                                    <th>Yayında mı?</th>
                                                    <th>Oluşturulma Tarihi</th>
                                                    
                                                    <th></th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody style="color: black;">
                                               
                                               {% for mail in yazilar %}
                                                    <tr data-expanded="true">
                                                        <td>{{mail.pk}}</td>
                                                        <td>{{mail.writer}}</td>
                                                        <td>{{mail.title}}</td>
                                                        <td>{{mail.is_published}}</td>
                                                        <td>{{mail.created_date.date}}</td>
                                                       
                                                        <td><a class="btn btn-success btn-xs" href="{% url 'showPostAdmin' mail.slug %}">Read</a></td>
                                                        <td><a onclick="return confirm('Bu mesajı silmek istediğinizden emin misiniz?\nBu işlem geri alınamaz.');" class="btn btn-danger btn-xs" href="{% url 'deletePostAdmin' mail.slug %}">Delete</a></td>
                                                    </tr>
                                               {% endfor %}
                                                   
    
    
                                               
                                            </tbody></center>
                                        </table>
                                        {% else %}

                                        <center><h5>Yazı istek bildirimi bulunmamaktadır</h5></center>
                                        {% endif %}

                                    </div>
                                    <!-- /.widget-body -->
                                </div>
                                <!-- /.widget-bg -->
                            </div>
                            


						
                        <!-- /.widget-holder -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.widget-list -->
            </div>
            <!-- /.container-fluid -->
        </main>
        <!-- /.main-wrappper -->

     
        {% endblock content %}