{% extends 'baseAdmin.html' %}



{% block title %}
<title>Neden Biz</title>
{% endblock title %}





{% block content %}


<main class="main-wrapper clearfix">



    <!-- /.container-fluid -->
    <!-- =================================== -->
    <!-- Different data widgets ============ -->
    <!-- =================================== -->
    <div class="container-fluid">
        <div class="widget-list">
            <div class="row">
                <div class="col-md-12 widget-holder">
                    <div class="widget-bg-transparent">
                        <div class="widget-body clearfix">
                            <!-- Products List -->
                            <div class="ecommerce-products list-unstyled row">



                                {% if not nedenbizler %}
                               
                                <h3 style="color: white;">Hiç nedenbiz bulunamadı.</h3>
                                {% endif %}

                                
                             



                                {% for nedenbiz in nedenbizler %}



                                <div class="product col-12 col-sm-6 col-md-4">
                                    <div class="card">
                                        <div class="card-header">
                                            <a href="{% url 'NedenBizUpdateAdmin' nedenbiz.pk %}">
                                               
                                                    <i class="{{nedenbiz.icon}}"></i>
                                               
                                            </a>
                                        </div>
                                        <!-- /.card-header -->
                                        <div class="card-body">
                                            <div class="d-flex">
                                                <a href="{% url 'NedenBizUpdateAdmin' nedenbiz.pk %}"><h5 class="product-title">{{nedenbiz.title}}</h5></a>
                                            </div>
                                            <!-- /.d-flex --> <span class="text-muted">{{nedenbiz.content|truncatechars:25|safe}} (
                                                {{nedenbiz.created_date.date}})</span><br><a style="float: right;" onclick="return confirm('Bu öğeyi silmek istediğinizden emin misiniz?\nBu işlem geri alınamaz.');" href="{% url 'deleteNedenBizAdmin' nedenbiz.pk %}" class="btn btn-danger btn-xs">Sil</a>
                                        </div>
                                        <!-- /.card-body -->
                                     
                                       
                                    </div>
                                    <!-- /.card -->
                                </div>
                                <!-- /.product -->
                                {% endfor %}
                                
                               


                            </div>
                            <center>
                                <a href="{% url 'NedenBizEkleAdmin' %}" style="color: black;" class="btn btn-success">Yeni Oluştur</a>
                                <br><br><br>
                                <figure class="profile-user-avatar thumb-md">
                                    <img src="{{image.image.url}}" alt="User Wall">
                                </figure>
                            </center>
                            <!-- /.ecommerce-products -->
                            <!-- Product Navigation -->


                            <!-- /.col-md-12 -->
                        </div><br>
                        
                       
                           <center> 
                            <a href="{% url 'NedenBizImageUpdateAdmin' image.pk %}" style="color: black;" class="btn btn-success">Fotoğrafı Güncelle</a>
                            <a href="{% url 'NedenBizImageEkleAdmin' %}" style="color: black;" class="btn btn-success">Foto Ekle(Eskisi Silinir)</a>
                        </center>

                        <!-- /.widget-body -->
                    </div>
                    <!-- /.widget-bg -->
                </div>
                <!-- /.widget-holder -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.widget-list -->
    </div>
    <!-- /.container-fluid -->
</main>
<!-- /.main-wrappper -->


{% endblock content %}