{% extends 'baseAdmin.html' %}



{% block title %}
<title>Zaman Çizelgesi</title>
{% endblock title %}





{% block content %}


<main class="main-wrapper clearfix">



    <!-- /.container-fluid -->
    <!-- =================================== -->
    <!-- Different data widgets ============ -->
    <!-- =================================== -->
    <div class="container-fluid">
        <div class="widget-list">
            <div class="row">
                <div class="col-md-12 widget-holder">
                    <div class="widget-bg-transparent">
                        <div class="widget-body clearfix">
                            <!-- Products List -->
                            <div class="ecommerce-products list-unstyled row">



                                {% if not timelines %}
                               
                                <h3 style="color: white;">Hiç zaman çizelgesi bulunamadı.</h3>
                                {% endif %}

                                
                             



                                {% for timeline in timelines %}



                                <div class="product col-12 col-sm-6 col-md-4">
                                    <div class="card">
                                        <div class="card-header">
                                            <a  href="">
                                                <img src=""
                                                    alt=""> <span class="triangle-top-right"></span>
                                            </a>
                                        </div>
                                        <!-- /.card-header -->
                                        <div class="card-body">
                                            <div class="d-flex">
                                                <a href="{% url 'TimelineUpdateAdmin' timeline.pk %}"><h5 class="product-title">{{timeline.tarih}} (
                                                    {{timeline.title}})</h5></a>
                                            </div>
                                            <!-- /.d-flex --> <span class="text-muted">{{timeline.yazi|truncatechars:25|safe}}</span><br><a style="float: right;" onclick="return confirm('Bu timeline yazısını silmek istediğinizden emin misiniz?\nBu işlem geri alınamaz.');" href="{% url 'deleteTimelineAdmin' timeline.pk %}" class="btn btn-danger btn-xs">Sil</a>
                                        </div>
                                        <!-- /.card-body -->
                                     
                                       
                                    </div>
                                    <!-- /.card -->
                                </div>
                                <!-- /.product -->
                                {% endfor %}



                            </div>
                            <!-- /.ecommerce-products -->
                            <!-- Product Navigation -->

                            {% if  timelines %}



                            <div class="col-md-12">
                                <nav aria-label="Page navigation">
                                    <ul class="pagination pagination-lg d-flex justify-content-center">

                                        {% if timelines.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{timelines.previous_page_number}}"
                                                tabindex="-1" aria-disabled="true">Önceki Sayfa</a>
                                        </li>
                                        {% else %}
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Önceki</a>
                                        </li>
                                        {% endif %}

                                        <li class="page-item"><a class="page-link" href="#">{{timelines.number}}</a></li>
                                        {% if timelines.has_next %}
                                        <li class="page-item"><a class="page-link"
                                                href="?page={{timelines.next_page_number}}">Sonraki</a></li>

                                        <li class="page-item">
                                            <a class="page-link" href="?page={{timelines.paginator.num_pages}}">Son
                                                Sayfa</a>
                                        </li>


                                        {% endif %}

                                    </ul>
                                </nav>
                            </div>

                            {% endif %}
                            <!-- /.col-md-12 -->
                        </div>

                        <br>
                       
                        <center> <a href="{% url 'TimelineEkleAdmin' %}" style="color: black;" class="btn btn-success">Yeni Oluştur</a></center>


                        <!-- /.widget-body -->
                    </div>
                    <!-- /.widget-bg -->
                </div>
                <!-- /.widget-holder -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.widget-list -->
    </div>
    <!-- /.container-fluid -->
</main>
<!-- /.main-wrappper -->


{% endblock content %}