{% extends 'baseAdmin.html' %}





{% block content %}



<main class="main-wrapper clearfix">
    <!-- Page Title Area -->
    <div class="container-fluid">
        <div class="row page-title clearfix">
            <div class="page-title-left">
                <h6 class="page-title-heading mr-0 mr-r-5">Blog Single</h6>
                <p class="page-title-description mr-0 d-none d-md-inline-block">statistics, charts and events</p>
            </div>
            <!-- /.page-title-left -->
            <div class="page-title-right d-none d-sm-inline-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active">Blog Single</li>
                </ol>
            </div>
            <!-- /.page-title-right -->
        </div>
        <!-- /.page-title -->
    </div>
    <!-- /.container-fluid -->
    <!-- =================================== -->
    <!-- Different data widgets ============ -->
    <!-- =================================== -->

    <div class="container-fluid">
        <div class="widget-list">
            <div class="row">
                <center>
                    <div class="widget-holder col-md-12 blog-page-widget">
                        <div class="widget-bg-transparent">
                            <div class="widget-body px-0">
                                <div class="blog-post-single blog-post-card">
                                    <figure>
                                        <a href="#">
                                            <img style="width: 60%;" src="{{yazi.image.url}}" alt="Blog Post 1">
                                        </a>
                                    </figure>
                                    <header>
                                        <ul class="blog-post-share-links list-unstyled list-inline">
                                            <li class="list-inline-item"><a href="javascript:void(0)"
                                                    class="bg-primary ripple toggle-link"><i
                                                        class="list-icon social-icons">sharethis</i></a>
                                            </li>
                                            <li class="list-inline-item"><a href="javascript:void(0)"
                                                    class="bg-facebook ripple"><i
                                                        class="list-icon social-icons">facebook</i></a>
                                            </li>
                                            <li class="list-inline-item"><a href="javascript:void(0)"
                                                    class="bg-twitter ripple"><i
                                                        class="list-icon social-icons">twitter</i></a>
                                            </li>
                                            <li class="list-inline-item"><a href="javascript:void(0)"
                                                    class="bg-dribbble ripple"><i
                                                        class="list-icon social-icons">dribble</i></a>
                                            </li>
                                        </ul>
                                        <div class="block text-muted blog-post-tags">Posted in
                                            <ul class="ml-1 inline-block list-unstyled list-inline">
                                                <li class="list-inline-item"><a
                                                        href="#"><strong>{{yazi.get_kategoriler}}</strong></a>
                                                </li>

                                            </ul>
                                        </div>
                                        <h4 class="h3 fw-300 m-1 blog-post-title"><a href="#">{{yazi.title}}</a></h4>
                                    </header>
                                    <div class="blog-post-content">
                                        <p>{{yazi.content|safe}}</p>
                                    </div>
                                    <!-- /.blog-post-body -->
                                    <br>

                                    {% if yazi.is_published == "no" %}
                                    <a href="{% url 'updatePublishedAdmin' yazi.slug %}" class="btn btn-success mb-3">Kabul Et</a>&emsp;
                                    <a href="{% url 'deletePostAdmin' yazi.slug %}" class="btn btn-danger mb-3">Sil</a>
                                    {% endif %}
                                    <br>
                                </div>
                                <br>
                                {% if messages %}
                                <ul class="messages">
                                    {% for message in messages %}

                                    {% if message.tags == "error" %}
                                    <div class="alert alert-danger" role="alert">


                                        <center><strong>{{message}}</strong></center>
                                    </div>
                                    {% else %}
                                    <div class="alert alert-success" role="alert">

                                        <center><strong>{{message}}</strong></center>
                                    </div>
                                    {% endif %}



                                    {% endfor %}
                                </ul>
                                {% endif %}
                                <br>




                                <!-- /.blog-post -->
                                <div id="blog-post-comments" class="blog-post-comments">
                                    <h5>{{yazi.yorumlar.count}} Comments</h5>
                                    <hr>


                                    {% for yorum in yorumlar %}

                                    <div class="comment media">
                                        <figure class="thumb-sm">
                                            <img src="{{yorum.writer.avatar.url}}" alt="User 1" class="rounded-circle">
                                            <a href="#" class="text-indent-full pos-0">User 1</a>
                                        </figure>
                                        <div class="media-body comment-body">
                                            <div class="comment-meta mb-3">
                                                <h5 class="comment-user-name my-0"><a href="#"
                                                        class="headings-color">{{yorum.writer.get_full_name}}</a></h5>
                                                <small>Replied on {{yorum.created_date.date}}</small>
                                            </div>
                                            <!-- /.comment-meta -->
                                            <p>{{yorum.comment}}</p>
                                            <br>
                                            <a href="{% url 'deleteCommentAdmin' yorum.pk %}" style="color: white;"
                                                class="btn btn-danger">Yorumu sil</a>
                                        </div>

                                    </div>

                                    <br><br><br>
                                    {% endfor %}

                                </div>

                            </div>
                            <!-- /.widget-body -->
                        </div>
                        <!-- /.widget-bg -->
                    </div>
                </center>

            </div>
            <!-- /.row -->
        </div>
        <!-- /.widget-list -->
    </div>
    <!-- /.container-fluid -->
</main>

{% endblock content %}