{% extends 'baseAdmin.html' %}




{% block content %}
    

    
  
        <!-- /.site-sidebar -->
        <main class="main-wrapper clearfix">
            <!-- Page Title Area -->
            <div class="container-fluid">
                <div class="row page-title clearfix">
                    <div class="page-title-left">
                        <h6 class="page-title-heading mr-0 mr-r-5">Form Validation</h6>
                        <p class="page-title-description mr-0 d-none d-md-inline-block">statistics, charts and events</p>
                    </div>
                 
                    <div class="page-title-right d-none d-sm-inline-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item active">Form Validation</li>
                        </ol>
                    </div>
                  
                </div>
            
            </div>
          
            <div class="container-fluid">
                <div class="widget-list">
                    <div class="row">
					
					

                        {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                
                            {% if message.tags == "error" %}
                            <div class="alert alert-danger" role="alert">
                                
                                
                                <center><strong>{{message}}</strong></center>
                            </div>
                            {% else %}
                            <div class="alert alert-success" role="alert">
                
                                <center><strong>{{message}}</strong></center>
                            </div>
                            {% endif %}
                
                
                
                            {% endfor %}
                        </ul>
                        {% endif %}
                
					
						
                     
                        <div class="col-md-12 widget-holder">
                            <div class="widget-bg">
                                <div class="widget-body clearfix">
                                   
                                    <form action="{% url 'yaziEkleAdmin' %}" method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {{form.media}}
                                        {{form.as_p}}
                                        <br>
                                        <input type="submit" class="btn btn-warning" value="Kaydet">

                                        <!-- <div class="form-group row">
                                            <label class="text-left text-sm-right col-form-label col-sm-3">Email</label>
                                            <div class="col-sm-9">
                                                <input type="email" name="email" class="form-control" required="" data-validation="email">
                                            </div>
                                          
                                        </div>
                                     
                                        <div class="form-group row">
                                            <label class="text-left text-sm-right col-form-label col-sm-3">Username</label>
                                            <div class="col-sm-9">
                                                <input name="user" class="form-control" required="" data-validation="length alphanumeric" data-validation-length="3-12" data-validation-error-msg="User name has to be an alphanumeric value (3-12 chars)">
                                            </div>
                                       
                                        </div>
                                  
                                        <div class="form-group row">
                                            <label class="text-left text-sm-right col-form-label col-sm-3">Password</label>
                                            <div class="col-sm-9">
                                                <input type="password" name="pass_confirmation" class="form-control" data-validation="strength" data-validation-strength="2">
                                            </div>
                                         
                                        </div>
                                  
                                        <div class="form-group row">
                                            <label class="text-left text-sm-right col-form-label col-sm-3">Repeat Password</label>
                                            <div class="col-sm-9">
                                                <input type="password" name="pass" class="form-control" data-validation="confirmation" required>
                                            </div>
                                     
                                        </div>
                                      
                                        <div class="form-group row">
                                            <label class="text-left text-sm-right col-form-label col-sm-3">Birth Date</label>
                                            <div class="col-sm-9">
                                                <input type="date" class="form-control" name="birth" data-validation="birthdate">
                                            </div>
                                          
                                        </div>
                                      
                                        <div class="form-group row">
                                            <label class="text-left text-sm-right col-form-label col-sm-3">Message</label>
                                            <div class="col-sm-9">
                                                <textarea class="form-control" name="presentation" id="presentation" required></textarea><small class="field-length-indicator" data-length-target="#presentation"><span class="indicator">160</span> chars left</small>
                                            </div>
                                         
                                        </div>
                                     
                                        <div class="ml-auto col-sm-9 no-padding">
                                            <button class="btn btn-primary" type="submit">Submit</button>
                                            <button class="btn btn-default" type="reset">Reset</button>
                                        </div> -->
                                      
                                    </form>
                                </div>
                                <!-- /.widget-body -->
                            </div>
                            <!-- /.widget-bg -->
                        </div>
                        <!-- /.widget-holder -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.widget-list -->
            </div>
            <!-- /.container-fluid -->
        </main>
        {% endblock content %}