  
  {% load static %}
  {% load footer_list %}
{% footer_list as hakkimizda_footer %}
{% load alanlar_list %}
{% alanlar_list as alanlar_footer %}
{% load iletisim_list %}
{% iletisim_list as iletisim_footer %}

  <!-- Footer Start -->
            <div class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <div class="footer-about">
                                <h2>Hakkımızda</h2>
                                <p>
                                    {{hakkimizda_footer.yazi|truncatechars:255|safe}}
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-8">
                            <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <div class="footer-link">
                                <h2>Çalışma Alanlarımız</h2>
                                
                                {% for alan in alanlar_footer %}
                                <a href="">{{alan.name}}</a>
                                {% endfor %}
                                    
                               
                               
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="footer-link">
                                <h2>Yararlı Sayfalar</h2>
                                <a href="{% url 'hakkimizda' %}">Hakkımızda</a>
                                <a href="{% url 'CalismaAlanlari' %}">Çalışma Alanlarımız</a>
                                <a href="{% url 'iletisim' %}">İletişim</a>
                                
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="footer-contact">
                                <h2>İletişim</h2>
                                <p><i class="fa fa-map-marker-alt"></i>{{iletisim_footer.konum}}</p>
                                <p><i class="fa fa-phone-alt"></i>{{iletisim_footer.telefon}}</p>
                                <p><i class="fa fa-envelope"></i>{{iletisim_footer.email}}</p>
                                <div class="footer-social">
                                    <a href="{{iletisim_footer.twitter}}"><i class="fab fa-twitter"></i></a>
                                    <a href="{{iletisim_footer.facebook}}"><i class="fab fa-facebook-f"></i></a>
                                    <a href="{{iletisim_footer.instagram}}"><i class="fab fa-instagram"></i></a>
                                    <a href="{{iletisim_footer.linkedin}}"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                <!-- <div class="container footer-menu">
                    <div class="f-menu">
                        <a href="">Terms of use</a>
                        <a href="">Privacy policy</a>
                        <a href="">Cookies</a>
                        <a href="">Help</a>
                        <a href="">FQAs</a>
                    </div>
                </div> -->
                <div class="container copyright">
                    <div class="row">
                        <div class="col-md-6">
                            <p>&copy; <a href="https://htmlcodex.com/law-firm-website-template">HTML Codex</a>, All Right Reserved.</p>
                        </div>
                        <div class="col-md-6">
                            <p>Designed By <a href="https://htmlcodex.com">HTML Codex</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->
            
            <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        </div>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'lib/easing/easing.min.js' %}"></script>
        <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
        <script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}"></script>

        <!-- Template Javascript -->
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>
